

.content-label { /* Hidden elements for accessibility */
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	width: 0 !important;
	height: 0 !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
}

html {
	background: #5e0f75 no-repeat 0 56px url(gfx/bg.jpg);
	background-size: cover;
	height: 100%;
}

z { margin: 0 !important;}

body {
	background: none;
	background: linear-gradient(rgba(94,15,117,0) 450px, rgba(94,15,117,1) 750px, rgba(94,15,117,1) 100%);
	font-family: verdana, arial, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

#portalbar {
	height: 56px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
    background-image: linear-gradient(#000000, #353535);
}

#portalbar .inner {
	width: 970px;
	width: 0 auto;
	margin: 0 auto;
	max-width: 90%;
}

#lang {
	position: absolute;
	top: 56px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 12px;
	margin-top: 12px;
	width: 970px;
	max-width: 90%;
	text-align: right;
}

#nav {
	position: absolute;
	top: 100px;
	left: 0;
	background: 50% 50% no-repeat url(gfx/nav.png);
	background-size: contain;
	width: 100%;
	font-size: 18px;
}

#nav ul {
	height: 65px;
	line-height: 60px;
	width: 990px;
	max-width: 90%;
	margin: 0 auto;
	padding: 0;
}

#nav li {
	display: inline-block;
	margin: 0 1.2em 0 0;
	padding: 0;
	position: relative;
}

#nav a {
	color: #FFF;
	text-decoration: none;
}

#skiplink {
	border-top: 1px solid red;
}

#main {
	border-radius: 5px;
	width: 970px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.75);
	margin: 186px auto 0;	
	max-width: 90%;
}

#main .inner {
	width: 94%;
	padding: 3%;
	border-radius: 5px;
	font-size: 14px;
	max-width: 100%;
	background: #FFF;
	overflow: auto;
}

#footer {
	text-align: center;
	font-size: 12px;
	margin: 20px 10px 0;
	padding-bottom: 40px;
	line-height: 20px;
	color: #FFF;
}

#footer a {
	color: #FFF;
}

h1, h2 {
	font-weight: normal;
	font-family: Helvetica, Arial, verdana, sans-serif;
}

h1 {
	font-size: 1.7em;
	margin-top: 0;
}

a:link, a:visited {
	color: #2D2DD6;
	text-decoration: none;
}

a:hover, a:active {
	color: #000;
	text-decoration: underline;
}

button, .button, a.button {
	font-size: 14px;
	color: white;
	background: black;
	border: 0;
	padding: 7px 10px;
	margin: 0 0 5px;
	display: inline-block;
	text-decoration: none;
}

button.secondary, .button.secondary {
	background: #AAA;
	color: #000;
}

.error {
	padding: 10px;
	border: 1px solid #F00;
	background: #FCC;
	margin-bottom: 20px;
}

#login-external, #login-password {
	width: 42.8%;
	float: left;
	padding: 3%;
}

#login-password h1, #login-external, #login-register {
	text-align: center;
}

#login-password h1, #login-password h1 {
	font-size: 22px;
	margin-bottom: 1em;
}

#login-password {
	border-left: 1px solid #AAA;
}

#login-register {
	clear: both;
	padding: 40px 0 20px;
}

.ext-svc {
	background: #888;
	color: #FFF;
	width: 90%;
	padding: 0.7em 0;
	display: inline-block;
	margin: 6px 0 13px;
	text-align: center;
	text-decoration: none;
}

.register-text {
	margin-right: 1em;
}

#login-password label {
	display: block;
	font-weight: bold;
}

#login-password label input {
	display: block;
	margin: 5px 0 15px;
	width: 100%;
	padding: 3px 0;
}

#login-password form {
	width: 90%;
	margin: 0 auto;
}

#login-password .form-help {
	font-size: 11px;
	margin: -13px 0 17px;
}

.or-register {
	margin-left: 5px;
}

.regform {
	padding: 1em 0 0;
}

.regform .text label, .passwdform label {
	display: inline-block;
	width: 9em;
}

.regform .field.text {
	width: 26em;
	margin-right: 0.5em;
	float: left;
}

.regform .row {
	clear: left;
}

.passwdform label {
	width: 11em;
}

.passwdform input {
	margin-right: 0.5em;
}

form .row {
	margin-bottom: 15px;
}

.form-help-pw {
	display: inline-block;
}

.approve-terms {
	margin: 0 0 15px;
}

#phases {
	padding: 10px 0 10px;
	counter-reset: phases;
}

.phase {
	display: inline-block;
	margin: 0 14px 5px 0;
}

.phase:before {
	counter-increment: phases;
	content: counter(phases);
	display: inline-block;
	background: #CCC;
	text-align: center;
	border-radius: 100%;
	font-weight: bold;
	font-size: 15px;
	height: 30px;
	width: 30px;
	line-height: 28px;
	margin: 0 7px 0 0;
}

.phase-1.active-1,
.phase-2.active-2,
.phase-3.active-3,
.phase-4.active-4
{
	font-weight: bold;
}

.phase-1.active-1:before,
.phase-2.active-2::before,
.phase-3.active-3::before,
.phase-4.active-4::before
 {
	background: #5e0f75;
	color: white;
}

.check {
	display: inline-block;
	width: 8.5em;
	margin-bottom: 0.5em;
}

#choose-service div {
	margin-right: 1em;
	display: inline-block;
	width: auto;
	padding: 10px 10px 10px 40px;
}

@media screen and (max-width: 1100px) {
	#nav {
		font-size: 14px;
	}
}

@media screen and (max-width: 630px) {

	body {
		background: #FFF;
	}

	#main {
		max-width: 100%;
		border: 0;
		padding-top: 0;
		padding: 0;
		margin-top: 110px;
	}

	#login-external, #login-password {
		float: none;
		padding: 0;
		width: 100%;
		border: 0;
	}

	#login-register {
		border-top: 1px solid #AAA;
		margin-top: 20px;
		padding-top: 20px;
	}

	#login-register span {
		display: block;
		margin: 0 0 1em;
	}

	.form-help-pw {
		padding-left: 0;
	}

	#lang {
		text-align: center;
	}

	#nav {
		background: #5e0f75;
		overflow: auto;
	}

	#nav ul {
		height: auto;
		line-height: 2em;
		max-width: 100%;
	}

	#nav li {
		width: 33%;
		margin: 0;
		text-align: center;
		float: left;
	}

	#phases {
		text-align: left;
		padding: 0;
	}

	.phase .num {
		display: inline-block;
	}

	.phase {
		margin: 0 0 5px 0;
		display: block;
	}
}

@media screen and (max-width: 460px) {
	#nav li {
		width: auto;
		margin-left: 20px;
		display: inline-block;
	}

	#nav ul {
		text-align: center;
	}

	.regform .field.text {
		width: auto;
	}

	.regform .text input {
		width: 100%;
	}

	.regform input#memberid {
		width: 90%;
	}

	.regform .forgotten, .regform .continue {
		margin-left: 0;
	}

	#choose-service div {
		display: block;
	}
}

@media screen and (max-width: 400px) {
	#main {
		width: auto;
		max-width: auto;
		border: 0;
		margin-top: 140px;
	}
}

